<!doctype html>
<html lang="en">

<head>
    <title>Room Description</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="icon" href="https://www.ibu.edu.ba/favicon-32x32.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./../../assets/css/style.css">
    <link rel="stylesheet" href="./../../assets/css/calander.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 header">
                <div>
                    <img src="./../../assets/images/header_img.svg" alt="header image" class="img img-fluid">
                </div>
                <div>
                    <div class="img-round">
                        <img src="./../../assets/images/icon/notification.svg" class="img img-fluid img-noti">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <p class="particularHeading">Room 228</p>
                        <p>Feature & Amenities</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <div class="d-flex">
                            <div class="form-check">
                                <input id="A/C" class="form-check-input" type="checkbox" name="A/C" value="true">
                                <label for="A/C" class="form-check-label">
                                    <span>A/C</span>
                                </label>
                            </div>
                            <div class="form-check">
                                <input id="projector" class="form-check-input" type="checkbox" name="projector"
                                    value="true">
                                <label for="projector" class="form-check-label">
                                    <span>Projector</span>
                                </label>
                            </div>
                            <div class="form-check">
                                <input id="wifi" class="form-check-input" type="checkbox" name="wifi" value="true">
                                <label for="wifi" class="form-check-label">
                                    <span>Free Wi-Fi</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <p class="descrption-text">Description</p>
                    </div>
                    <div class="col-lg-10 col-md-12 col-sm-12">
                        <p class="para">Located on the 2nd floor, Room 228 provides capacity for bigger sized lectures
                            and
                            workshops. It is a home to a huge number of IT course lectures and exams. To come to
                            this classroom, you can take the elevator and go to the left to the end of the hall or
                            by walk.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <img src="./../../assets/images/side-image.svg" alt="side image" class="img img-fluid">
                <div class="form-check">
                    <input id="require" class="form-check-input new-input" type="checkbox" name="require" value="true">
                    <label for="require" class="form-check-label">Requires Admin Approval</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p class="margin-it">Reservations</p>
                <p>First, choose a date.</p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="calendar">
                    <div class="month">
                        <a href="#" class="nav"><i class="fas fa-angle-left"></i></a>
                        <div id="currentMonthYear">January <span class="year">2019</span></div>
                        <a href="#" class="nav"><i class="fas fa-angle-right"></i></a>
                    </div>
                    <div class="days">
                        <span>Sun</span>
                        <span>Mon</span>
                        <span>Tue</span>
                        <span>Wed</span>
                        <span>Thu</span>
                        <span>Fri</span>
                        <span>Sat</span>
                    </div>
                    <div class="dates" id="calendarDates">

                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p>Then, choose time.</p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <button class="btn-start btn-block">Start time</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <button class="btn-start btn-block">End time</button>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 send-btn-mobile">
                <button class="Send-btn btn-block">SEND</button>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="./../../assets/js/main.js"></script>
</body>

</html>